[Desktop Entry]
Type=Application
Name=YouTube Playlist Downloader
Comment=Download YouTube videos, playlists, and channels
Exec=AppRun
Icon=ytpdl
Categories=AudioVideo;Network;
Terminal=false
